.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.2); /* Color de fondo semi-transparente */
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo semi-transparente */
  margin: 10%;
  padding: 10px;
  border: none; /* Sin borde */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

.close {
  color: #555555;
  float: center;
  font-size: 28px;
  font-weight: bold;  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
